# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock
bge-small-en-v1.5/
RetrievalSystem/
assets/

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store
*.db

# PyCharm
.idea
